h1 {color:black; font-family: Avenir; text-transform: uppercase; font-size: 72px;}
body {background: white;}
p {color:black; font-family:avenir; text-transform: uppercase;}
ul {color:black; font-family: avenir}