* {
    box-sizing: border-box;
}
.main-container {
    width: 900px;
    margin: 0 auto 0 auto;
    font-family: sans-serif
}
.promo-container {
    background-color: lightgrey;
}

.branding {
    background-color: black;
    width: 150px;
    height: 45px;
    margin-right: auto;
}

header {
    display: flex;
}
.pill-button {
    display: inline-block;
    background: gray;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    color: white;
    text-decoration: none;

}

.promo {
    background-color: white;
    color:black;
    font-size: 18px;
    padding: 10px 40px 10px 40px;
}
/* big Promo */

#big-promo {
    padding-top: 200px;
}
.promo-message {
    width: 60%;
    padding: 50px;
    font-family: sans-serif;
}

/* Product Features*/

.product-features, .product-buy-it-now {
    display: flex;
}
.feature {
    text-align: center;
    padding: 20px;
}

.feature-image {
    background: red;
    width: 200px;
    height: 200px;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.product-buy-it-now {
    justify-content: center;
}
.product-info {
    text-align: right;
}
