.main-container {
    
    width: 900px;
    margin: 0 auto 0 auto;
    font-family: 'Cabin', "avenir", "arial", sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}
header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}
a:hover {
    background-color: lavender;
    text-decoration: none;
}
.nav-button {
    display: inline-flex;
    color: white;
    text-decoration: none;
    margin: 10px; 
}
.branding {
    position: relative;
    left: 410px;
    width: 150px;
    height: 45px;
}

h1 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 36px;
    text-align: justify;
    margin: 20px;
}
h3 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 20px;
    text-align: center;
    
}
p {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 13px;
    text-align: justify;
    font-size: 16px;
    margin: 20px;
}
.blog-image-1{
    float: right;
    background-image: url(Photos/birds.jpg);
    width: 400px;
    height: 250px;
    margin: 5px 20px 20px 20px;
    background-size:cover;
    background-position: center;
}

.blog-image-2{
    float: left;
    background-image: url(Photos/fox.jpg);
    width: 400px;
    height: 250px;
    margin: 5px 20px 20px 20px;
    background-size:cover;
    background-position: bottom;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    width: 900px;
    height: 75px;
    padding-top: 2px;
    padding-bottom: 20px;
    margin: auto;
}
footer a{
    font-family: "cabin", "Avenir", "Arial", "Sans-serif";
    align-content: flex-end;
    justify-content: flex-end;
    color: white;
    position: relative;
    left: 45px;
    margin: 5px;

}
.footer-links{
    color: white;
    align-content: flex-end;
    text-align: left;
    padding: 20px;
}