.main-container {
    width: 900px;
    margin: 0 auto 0 auto;
    font-family: 'Cabin', "avenir", "arial", sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}

header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}
a:hover {
    background-color: lightslategray;
}
.nav-button {
    display: inline-flex;
    color: white;
    text-decoration: none;
    margin: 10px; 
}
.branding {
    position: relative;
    left: 410px;
    width: 150px;
    height: 45px;
}
h3 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 20px;
    text-align: center;
    
}
    
p {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 13px;
    text-align: center;
}
.feature-page-row-1{
    display: flex;

    margin: 20px;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    width: 900px;
    height: 75px;
    padding-top: 2px;
    padding-bottom: 20px;
    margin: auto;
    
}

.feature-image-big{
    margin: 60px 20px 20px 20px;
    height: 425px;
    background-image: url(Photos/cabin-rental-2.jpg);
    background-size:cover;
    background-position: bottom;
}
.feature-5image{
    display: flex;
    margin: 60px 20px 20px 20px;
    padding: 20px;
    height: 150px;
    width: 825px;
    justify-content: center;
}
.pricing-button {
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    text-decoration: none;
    letter-spacing: 2.3px;
    width: 200px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    font-size: 20px;
    text-transform: uppercase;
    
   
}

.feature-image-big p{
    font-size: 16px;
}
footer a{
    font-family: "cabin", "Avenir", "Arial", "Sans-serif";
    align-content: flex-end;
    justify-content: flex-end;
    color: ghostwhite;
    position: relative;
    left: -5px;
    margin: 5px;

}
.footer-links{
    color: ghostwhite;
    align-content: flex-end;
    text-align: left;
    padding: 20px;
}