.main-container {
    width: 900px;
    margin: 0 auto 0 auto;
    font-family: 'Cabin', "avenir", "arial", sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}

.sign-up-today-container {
    
}
.branding {
    position: relative;
    left: 410px;
    width: 150px;
    height: 45px;
}

header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}
a:hover {
    background-color: aqua;
}
.nav-button {
    display: inline-flex;
    color: white;
    text-decoration: none;
    margin: 10px; 
}

#sign-up-today {
    padding-top: 550px;
    color: black;
    background-image: url(Photos/snow-cabin.jpg);
    background-size: cover;
}

h1 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 36px;
    text-align: center;
    position: relative;
    justify-content: center;
}
p {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    text-align: center;
    w
}