.main-container {
    width: 900px;
    margin: 0 auto 0 auto;
    font-family: 'Cabin', "avenir", "arial", sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}

.sign-up-today-container {
    
}
.branding {
    position: relative;
    left: 410px;
    width: 150px;
    height: 45px;
}

header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}
a:hover {
    background-color: lightslategray;
}
.nav-button {
    display: inline-flex;
    color: white;
    text-decoration: none;
    margin: 10px; 
}

.sign-up-today {
    display: flex;
    width: auto;
    height: 575px;
    background-image: url(Photos/snow-cabin.jpg);
    background-size: cover;
}

.today{
    position: relative;
    top:100px;
    left: 175px;
    text-align: center;
    height: 225px;
    width: 450px;
    background-color: black;
    color: ghostwhite;
    padding: 0 45px 0 45px
 
}
h1 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 36px;
}
    
p {
    font-family: "cabin", "avenir", "arial", "sans-serif";
 
}

.pricing {
    width: 125px;
    height: 35px;
    background-color: black;
    color: ghostwhite;
    text-align: center;
    align-content: center;
    position: relative;
    top: 340px;
    right: 150px;
    padding-top: 15px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
}
.pricing-button {
    justify-content: center;
    color: ghostwhite;
    text-decoration: none;
    letter-spacing: 2.3px;
}


.feature-container {
    display: flex;
    margin: 70px 20px 20px 20px;
}

.feature-item-1 feature-item-2 feature-item-3 feature-item-4{
    background-size:cover;
    background-position: center;
}

.feature-item-1 h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.feature-item-2 h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.feature-item-3 h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
.feature-item-4 h1{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.feature-item-1 p{
    text-align: center;
    padding: 8px;
    line-height: 25px;
    letter-spacing: 1.3px
}
.feature-item-2 p{
    text-align: center;
    padding: 8px;
    line-height: 25px;
    letter-spacing: 1.3px;
}
.feature-item-3 p{
    text-align: center;
    padding: 8px;
    line-height: 25px;
    letter-spacing: 1.3px;
}
.feature-item-4 p{
    text-align: center;
    padding: 8px;
    line-height: 25px;
    letter-spacing: 1.3px;
}

.feature-end{ 
    margin-bottom: 20px;
    padding-left: 20px;
    line-height: 1.4;
    float: left;
}
.feature-button{
    font-size: 24px;
    text-decoration: none;
    position: relative;
    bottom: 125px;
    left: 125px;
    justify-content: center;
    color: black;
}

footer{
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    width: 900px;
    height: 75px;
    padding-top: 2px;
    padding-bottom: 20px;
    
}
footer a{
    font-family: "cabin" "Avenir" "Arial" "Sans-serif";
    align-content: flex-end;
    justify-content: flex-end;
    color: ghostwhite;
    position: relative;
    left: 35px;
    margin: 5px;

}
.footer-links{
    color: ghostwhite;
    align-content: flex-end;
    text-align: left;
    padding: 20px;
   
    
}