.main-container {
    
    width: 900px;
    margin: 0 auto 0 auto;
    font-family: 'Cabin', "avenir", "arial", sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
}
header {
    display: flex;
    background-color: lightgray;
    padding: 20px;
}
a:hover {
    background-color: lavender;
    text-decoration: none;
}
.nav-button {
    display: inline-flex;
    color: white;
    text-decoration: none;
    margin: 10px; 
}
.branding {
    position: relative;
    left: 410px;
    width: 150px;
    height: 45px;
}
.pricing-image-big{
    height: 425px;
    background-image: url(Photos/pinkflowers.jpg);
    background-size:cover;
    background-position: center;
}
.pricing-container{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px 40px 20px
}
.pricing-item-1{
    background-color: aliceblue;
    width: 250px;
    height: 500px;
}
.pricing-item-2{
    background-color: aliceblue;
    width: 250px;
    height: 500px;
}
.pricing-item-3{
    background-color: aliceblue;
    width: 250px;
    height: 500px;
}
h1 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 50px;
    text-align: center;
}
h3 {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 20px;
    text-align: center;
    
}
p {
    font-family: "cabin", "avenir", "arial", "sans-serif";
    font-size: 13px;
    text-align: center;
    padding: 0 10px 0 10px;
}
.buynow-button{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    color: black;
    text-decoration: none;
    letter-spacing: 2.3px;
    width: 200px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    font-size: 18px;
    text-transform: uppercase;
    
}
.blog-button{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    color: black;
    text-decoration: none;
    letter-spacing: 2.3px;
    width: 200px;
    margin: auto;
    margin-bottom: 90px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: pink;
    font-size: 18px;
    text-transform: uppercase;
    
}
 a:hover buynow-button{
    background-color: aliceblue;
}

.not-convinced h1{
    padding-top: 40px;
    font-size: 36px;
}
.not-convinced p{
    font-size: 16px;
    width: 400px;
    position: relative;
    left: 245px;
    padding-bottom: 60px;
}
footer{
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
    width: 900px;
    height: 75px;
    padding-top: 2px;
    padding-bottom: 20px;
    margin: auto;
}
footer a{
    font-family: "cabin", "Avenir", "Arial", "Sans-serif";
    align-content: flex-end;
    justify-content: flex-end;
    color: white;
    position: relative;
    left: -5px;
    margin: 5px;

}
.footer-links{
    color: white;
    align-content: flex-end;
    text-align: left;
    padding: 20px;
}